@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Roboto;
  src: url(assets/Roboto/Roboto-Regular.ttf);
}

* {
  font-family: Roboto, serif;
}

.article-body {
  p {
    @apply mb-5;
  }
}
